CS 418 Final Project
---
Using dataset scraped from Zillow
Includes all houses for sale in Chicago

data.csv is broken down into these columns...

| Address | Zip Code | Value | SQFT | Price Per SQFT | Number of Bedrooms | Number of Bathrooms | Number of Full Bathrooms | Year Built | Heating | Cooling | Parking | Type | Has Garage | Number of Storeis | HOA FEE |
|---------|----------|-------|------|----------------|--------------------|---------------------|--------------------------|------------|---------|---------|---------|------|------------|-------------------|---------|

In [1]:
import numpy as np
import pandas as pd

dfhouses = pd.read_csv('data.csv')
dfhouses.head()

,Address,Zip Code,Value,SQFT,Price Per SQFT,Number of Bedrooms,Number of Bathrooms,Number of Full Bathrooms,Year Built,Heating,Cooling,Parking,Type,Has Garage,Number of Stories,HOA Fee
0,4800 S Lake Park Ave APT 607,60615,35000.0,1175.0,30.0,2.0,1.0,1.0,1970.0,Forced air: Gas,Central,None,Condo,No,9.0,1177.0
1,232 N La Crosse Ave,60644,239900.0,2300.0,104.0,5.0,3.0,3.0,1885.0,Forced air: Gas,Central,Garage - Detached: Covered,Single Family,NaN,NaN,NaN
2,12043 S Wallace St,60628,7000.0,1970.0,4.0,7.0,3.0,3.0,1898.0,Gas,NaN,None,Multiple Occupancy,No,3.0,NaN
3,1511 S Kolin Ave #2,60623,55900.0,NaN,NaN,3.0,2.0,2.0,2006.0,Gas,Central,Covered,Condo,NaN,1.0,NaN
4,4938 S Drexel Blvd APT 114R,60615,209000.0,1218.0,172.0,2.0,2.0,1.0,1891.0,Forced air: Gas,Central,Garage: Covered,Condo,NaN,2.0,377.0